.login-group {
  display: table;
  width: 100%;
}

.login-form {
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

label {
  padding: 0.5rem;
}

input {
  padding: 0.5rem;
}
