.login-group {
  display: table;
  margin: auto;
}

.login-form {
  width: min-content;
  height: min-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: grid;
  vertical-align: middle;
  padding: 2rem;
  border-radius: 1rem;
}

.shadow-box {
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.4);
}
