.loan-payment-form,
.loan-payment-outcome {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  margin: 1rem;
}

.loan-payment-action {
  margin: 1rem;
}

h2 {
  margin: 1rem;
}

.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
  width: max-content;
}
