html,body {
    font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif;
    width:100%;
    margin:0;
    padding:0;
}
table{
    width:100%;
}

table thead tr {
    borderBottom: solid 3px blue;
    background: blue;
    color: white;
    fontWeight: bold;
}