html,
body {
  font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana,
    sans-serif;
  width: 90%;
  margin: 1rem;
}
table {
  width: 100%;
}

table thead tr {
  border-bottom: solid 3px #0a66c2;
  background: #0a66c2;
  color: white;
  font-weight: bold;
}
